body{
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E6LxqQ1ixikssn79z/snow-flakes-background-2_4_jjytrsl__F0000.png');
	background-size: cover;
	margin: 0 auto;
}

h1{
	font-family: 'Archivo Narrow', serif;
	font-size: 50px;
	text-align: center;
	color: #153745;
	text-shadow: 2px 2px #265E75;
	margin: 0;
}

h1#header{
	font-family: 'Archivo Narrow', serif;
	font-size: 60px;
	text-align: center;
	color: #153745;
	text-shadow: 2px 2px #265E75;

}

#countDown{
	text-align: center;
	width: 95%;
	font-family: 'Archivo Narrow', serif;
	font-size: 50px;
	color: #153745;
	text-shadow: 2px 2px #265E75;
	float: left;
}

div.form{
	text-align: center;
}

#myText{
	width: 50%;
	height: 50px;
	border: 2px solid #153745;
	border-radius: 20px;
	outline: none;
	font-size: 25px;
	text-align: center;

}

button{
	margin-top: 5px;
	border: none;
	padding: 5px 10px;
	text-align: center;
	font-family: 'Archivo Narrow', serif;
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #153745;
	transition-duration: .7s;
	border-radius: 10px;
	outline: none;
}
button:hover{
	cursor: pointer;
	color: #153745;
	background-color: white;
}

img{
	display: block;
    margin: auto;
    width: 35%;
}
#garland{
	background: url("garland.png");
	background-repeat: repeat-x;
	height: 100px;
}

.sound{
	float: left;
	width: 4%;
	margin-right: 1%;
}

.sound:hover{
	cursor: pointer;
	float: left;
	width: 4%;
}

.credentials{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-style: italic;
	color: #153745;
	font-family: 'Archivo Narrow', serif;
	opacity: .5;
	transition-duration: .5s;
}
.credentials a{
	color: #153745;
	text-decoration: none;
}

.credentials a:hover{
	opacity: .5;
}
.credentials:hover{
	opacity: 1;
	font-size: 37px;
	cursor: pointer;
}