body{
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E6LxqQ1ixikssn79z/snow-flakes-background-2_4_jjytrsl__F0000.png');
	background-size: cover;
}

h1{
	font-family: 'Archivo Narrow', serif;
	font-size: 50px;
	text-align: center;
	color: #153745;
	text-shadow: 2px 2px #265E75;
	margin: 0;
}

h1#header{
	font-family: 'Archivo Narrow', serif;
	font-size: 60px;
	text-align: center;
	color: #153745;
	text-shadow: 2px 2px #265E75;

}

#countDown{
	text-align: center;
	width: 100%;
	font-family: 'Archivo Narrow', serif;
	font-size: 50px;
	color: #153745;
	text-shadow: 2px 2px #265E75;
}

div.form{
	text-align: center;
}

#myText{
	width: 50%;
	height: 50px;
	border: 2px solid #153745;
	border-radius: 20px;
	outline: none;
	font-size: 25px;
	text-align: center;

}

button{
	margin-top: 5px;
	border: none;
	padding: 5px 10px;
	text-align: center;
	font-family: 'Archivo Narrow', serif;
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #153745;
	transition-duration: .7s;
	border-radius: 10px;
	outline: none;
}
button:hover{
	cursor: pointer;
	color: #153745;
	background-color: white;
}

img{
	display: block;
    margin: auto;
    width: 40%;
}

.nicholas{
	background: url("sleigh.png");
	background-repeat: repeat-x;	
	height: 100px;

}
